.film-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: start;
  justify-items: center;
}

.film-grid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.film-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(21, 236, 57, 0.3);
}